<div class="container">
    <h2 class="title">Skills & Experience</h2>
  
    <div class="skills">
      <div *ngFor="let skill of skills" class="skill-badge">{{ skill }}</div>
    </div>
  
<div class="experience-container">
  <mat-card class="experience-card full-width">
    <mat-card-content>
      <div class="company">
        <a [href]="experience[0].href" target="_blank" class="company-link">{{ experience[0].company }}</a>
      </div>
      <div class="role-duration">
        <span class="role">{{ experience[0].role }}</span>
        <span class="date">{{ experience[0].date }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="side-by-side">
    <mat-card class="experience-card half-width" *ngFor="let exp of experience.slice(1)">
      <mat-card-content>
        <div class="company">
          <a [href]="exp.href" target="_blank" class="company-link">{{ exp.company }}</a>
        </div>
        <div class="role-duration">
          <span class="role">{{ exp.role }}</span>
          <span class="date">{{ exp.date }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


    
  </div>