<div class="hero">
    
    <div class="spotlight">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particles">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
    </div>

    <div class="profile-container">
        <img src="assets/Icons/MJ1.jpeg" alt="Profile Picture" class="profile-pic">

        <div class="status">
            <span class="status-indicator"></span> available for work
        </div>

        <h1 class="name">Chethan <i class="nameMj">MJ</i></h1>
        <p class="role">Frontend Developer (Angular, React)</p>

        <div class="social-icons">
            <a href="https://github.com/chethanmj0430" target="_blank">
                <img src="assets/Icons/github.png" alt="GitHub" class="social-icon">
            </a>
            <span class="separator">|</span>
            <a href="https://www.linkedin.com/in/chethanmj04/" target="_blank">
                <img src="assets/Icons/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
            <span class="separator">|</span>
            <a href="mailto:your.chethanmj0430@gmail.com">
                <img src="assets/Icons/email.png" alt="Email" class="social-icon">
            </a>    
        </div>

        <div class="contact-container">
            <button mat-raised-button class="contact-button" (click)="navigateToSection('contact-section')">
                <mat-icon class="sloped-arrow">arrow_forward</mat-icon>
                Contact Me
            </button>
            <mat-icon class="down-arrow">keyboard_arrow_down</mat-icon>
        </div>
        
        <div class="particles">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
        
</div>
